{% extends "base.html" %}

{% block content %}

    <form method='post'>

        <div class="error">{{error}}</div>
        
        <table>
            <tr>

                <td>  Blog Post Title:  </td>
                <td>  <input type="text" name='title' />   </td>
            </tr>
            <tr>
                <td>  New Blog Entry:  </td>
                <td>  <textarea name='body'></textarea>  </td>
            </tr>
        </table>
        <input class="button" type="submit" value='Add Entry' />  </td>
        
    </form>
    
{% endblock %}