{% extends "base.html" %}

{% block content %}

<div class="error">{{error}}</div>

<p class="page-text">Feeling inspired? Bless us with some words :)</p>

<div class="new-body"> 
    <form method='post'>
        <table>
            <tr>
                <td>  <label class="login-label" for="email">  Blog Post Title  </label>  </td>
                <td>  <input class="login-input" type="text" name='title' /></td>
            </tr>
            <tr>
                <td>  <label class="login-label" for="email">  New Blog Content  </label>  </td>
                <td>  <textarea class="new-textarea" name='body'></textarea></td>
            </tr>
            <tr>
                <td>  </td>
                <td>  <input class="login-button" type="submit" value='Add Entry' />  </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}