html { -webkit-text-size-adjust: 100%; font-family: "Trebuchet MS", Helvetica, sans-serif; background: #CEC3F4; }
body { margin: 0; font-size: 1.2em; font-weight: thin; color:#AC8BC1; }
header, main, aside, footer { padding: 2em; }
header { background: #D2DAF7; text-align: center; text-transform: uppercase; }
header a { color: #B09CE2; font-size: 0.85em; text-decoration: none; }
header a:hover { color:#9A89C4; }
main { background: #F4CDF1; padding: 1em; padding-bottom: 4em; }
aside { background: #CEC3F4; }
footer { color: white; text-align: center; }
article { background: #FFF9FD; padding: 25px; padding-left: 50px; margin-bottom: 20px; width: 75%; margin-left: 5%; }
h1 { text-align: center; font-size: 3em; margin-top: 25px; margin-bottom: 25px; color: #FFF; }
h2 a { color: #B09CE2; text-decoration: none; font-size: 1em; text-transform: uppercase; }
h2 a:hover { color:#9A89C4; }
h2.author a { color: #B09CE2; text-transform: none; }
input { border: none; }
textarea { border: none; }
table { border-spacing: 0px; margin-left: 15%; }
td { padding-bottom: 30px; }
.error { color: red; text-align:center; font-size: 0.8em; }
li.error { color: red; list-style: none; }
.page-text { text-align:center; }
.login-button:hover { background-color: #B5A4F2; color:#FFF; }
.login-body { margin-left: 19%; margin-top: 60px; }
.signup-body { margin-left: 17%; margin-top: 60px; }
.new-body { margin-left: 16%; margin-top: 60px; }
.blog-body { margin-left: 7%; margin-top: 60px; }
.post-body { margin-left: 20%; margin-top: 60px; margin-bottom: 60px;  width: 60%; line-height: 1.75; }
footer { text-align: center; text-transform: uppercase; font-size: 0.8em; padding-top: 30px; }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { background-color: #FFFCEF !important; }
p.author-link { font-size: 0.7em; }
p.author-link a { color: #9A89C4; text-decoration: none; }
p.author-link a:hover { color:#B09CE2; }
.login-input { border: none; padding-top: 15px; padding-bottom: 15px; width: 450px; margin-left:30px;  padding-left:10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1em; }
.new-textarea { border: none; padding-top: 15px; padding-bottom: 15px; width: 450px; margin-left:30px;  padding-left:10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1em; height: 120px; }
.login-button { background-color: #CEC3F4; border: none; padding: 15px; float: right; width: 100px; 
     font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: .7em; text-transform: uppercase; }